<div class="notification-icon">
  <i class="{{notificationIcon}}"></i>
</div>
<div class="content">
  {{#if notification.htmlContent}}
    {{{notification.message}}}
  {{else}}
    {{notification.message}}
  {{/if}}
  <div class="close-icon" {{action "removeNotification"}} title="Dismiss this notification">
    <i class="{{closeIcon}}"></i>
  </div>
</div>
{{#if notification.autoClear}}
  <div class="countdown" style={{notificationClearDuration}}></div>
{{/if}}
